# dependencies
node_modules/

# build outputs
dist/
build/
.next/
.turbo/

# env
.env
.env.local
.env.*.local
*.env

# database (SQLite local file)
*.db
*.db-journal
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.cache/
coverage/
